<footer>
    <ul>
        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
    </ul>
    <small>Copyright &copy; <a href="https://onclickwebdesign.com" target="_blank">OnClick Web Design</a> all rights reserved.</small>
</footer>