<header>
    <div class="flex">
        <h1><a href="/">Books</h1></a>
        <a id="logo" href="/" target="_blank">
            <!--<img src="/static/img/antoine.jpg" />-->
        </a>
    </div>
</header>