<header>
    <div class="flex">
        <h1>Antoine's Collections</h1>
        <a id="logo" href="https://www.linkedin.com/in/anatallah/" target="_blank">
            <img src="/static/img/antoine.jpg" />
        </a>
    </div>
</header>