@import "~bootstrap/dist/css/bootstrap";

*, .btn {
    border-radius: 0;
}

body {
    margin: 1rem;
    padding: 0;
    font-size: 1rem;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ccc;
}

form {
    margin-bottom: 1rem;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

.margin-top {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 100px;
}

#logo img {
    width: 100%;
}

.jumbotron {
    padding-top: 2rem;
    background: #fff;
}

.burning-book img {
    width: 100%;
}

.search-form-container form {
    position: relative;
}

#search-books-submit {
    position: absolute;
    right: 0;
    top: 0;
}

table td.break-word, table td.break-word * {
    word-break: break-word;
}

table th.text-center, table td.text-center {
    text-align: center;
}

.sm-hide {
    display: none;
}

.remove-book {
    color: #dc3545;
    font-size: 20px;
}

.dark-link {
    color: #212529;
}

#bookDetailsModal .flex {
    justify-content: space-around;
    margin-bottom: 1rem;
}

#bookDetailsModal .flex img {
    width: 128px;
}

#loadingSpinner {
    position: fixed;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#loadingSpinner.show {
    display: block;
}

#loadingSpinner .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -25px auto 0;
    color: #fff;
    display: block;
    width: 65px;
    font-size: 65px;
}

.alert {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    z-index: 3;
    box-shadow: 0px 1px 10px 0px #aaa
}

@media (max-width: 650px) {
    body {
        margin: 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    header {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #logo {
        width: 60px;
    }

    .jumbotron {
        background: #e9ecef;
    }

    .sm-hide {
        display: block;
    }

    .xs-hide {
        display: none;
    }

    .top-float-button {
        display: block;
        position: absolute;
        top: 10px;
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .card {
        margin-top: 1rem;
    }

    .card:first-child {
        margin-top: 0;
    }

    .card-title {
        width: 80%;
    }

    .card-body {
        position: relative;
    }

    .card-body .edit-book {
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
    }

    .card-body .remove-book {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
    }

    .remove-book {
        color: #fff;
    }

    #bookDetailsModal .flex {
        justify-content: space-between;
        align-items: start;
    }
    
    #bookDetailsModal .flex img {
        max-width: 128px;
        width: 50%;
        min-width: 110px;
        margin-right: 10px;
    }

    #bookDetailsModal .book-details-container {
        font-size: 0.85rem;
    }
}